{% extends "base.html" %}
{% block content %}
<h1>Thống kê</h1>
<h2>Theo Khoa</h2>
<table>
    <thead>
        <tr>
            <th>Khoa</th>
            <th>Số lượng Giáo viên</th>
        </tr>
    </thead>
    <tbody>
        {% for faculty, count in faculty_stats %}
        <tr>
            <td>{{ faculty }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Theo Bằng cấp</h2>
<table>
    <thead>
        <tr>
            <th>Bằng cấp</th>
            <th>Số lượng Giáo viên</th>
        </tr>
    </thead>
    <tbody>
        {% for degree, count in degree_stats %}
        <tr>
            <td>{{ degree }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}