{% extends "quanlygiaovien/quanlygiaovien.html" %}
{% block content %}
<div class="content-header">
    <h3>Quản Lý Khoa</h3>
    <button class="btn-add">+ Thêm Khoa</button>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Mã Khoa</th>
                <th>Tên Khoa</th>
                <th>Trưởng khoa</th>
                <th>Số lượng bọ môn</th>
                <th>Số lượng giáo viên</th>
                <th>Số lượng CTĐT</th>
                <th>Ngày thành lập</th>
                <th>Trạng thái</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CNTT</td>
                <td>Công nghệ Thông tin </td>
                <td>TS. Nguyễn Văn A</td>
                <td>5</td>
                <td>30</td>
                <td>8</td>
                <td>15/08/2010</td>
                <td>Hoạt động</td>
                <td class="actions">
                    <button type="button" class="btn btn-info">✏️</button>
                    <button type="button" class="btn btn-info"> 🗑️</button>
                </td>
            </tr>
            <tr>
                <td>CNTT</td>
                <td>Công nghệ Thông tin </td>
                <td>TS. Nguyễn Văn A</td>
                <td>5</td>
                <td>30</td>
                <td>8</td>
                <td>15/08/2010</td>
                <td>Hoạt động</td>
                <td class="actions">
                    <button type="button" class="btn btn-info">✏️</button>
                    <button type="button" class="btn btn-info"> 🗑️</button>
                </td>
            </tr>
            <tr>
                <td>CNTT</td>
                <td>Công nghệ Thông tin </td>
                <td>TS. Nguyễn Văn A</td>
                <td>5</td>
                <td>30</td>
                <td>8</td>
                <td>15/08/2010</td>
                <td>Hoạt động</td>
                <td class="actions">
                    <button type="button" class="btn btn-info">✏️</button>
                    <button type="button" class="btn btn-info"> 🗑️</button>
                </td>
            </tr>
            <tr>
                <td>CNTT</td>
                <td>Công nghệ Thông tin </td>
                <td>TS. Nguyễn Văn A</td>
                <td>5</td>
                <td>30</td>
                <td>8</td>
                <td>15/08/2010</td>
                <td>Hoạt động</td>
                <td class="actions">
                    <button type="button" class="btn btn-info">✏️</button>
                    <button type="button" class="btn btn-info"> 🗑️</button>
                </td>
            </tr>
            <tr>
                <td>CNTT</td>
                <td>Công nghệ Thông tin </td>
                <td>TS. Nguyễn Văn A</td>
                <td>5</td>
                <td>30</td>
                <td>8</td>
                <td>15/08/2010</td>
                <td>Hoạt động</td>
                <td class="actions">
                    <button type="button" class="btn btn-info">✏️</button>
                    <button type="button" class="btn btn-info"> 🗑️</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}