{% extends "quanlygiaovien/quanlygiaovien.html" %}
{% block content %}
<div class="content-header">
    <h3>Quản Lý Bằng Cấp</h3>
    <a href="{{ url_for('quanly_giaovien', section='bangcap', action='them') }}"><button class="btn-add">+ Thêm Bằng
            Cấp</button></a>
</div>
<table>
    <thead>
        <tr>
            <th>Mã Bằng Cấp</th>
            <th>Tên Bằng Cấp</th>
            <th>Số Lượng</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BC001</td>
            <td>Đại Học</td>
            <td>30</td>
            <td class="actions">
                <button type="button" class="btn btn-info">✏️</button>
                <button type="button" class="btn btn-info"> 🗑️</button>

            </td>
        </tr>
        <tr>
            <td>BC002</td>
            <td>Thạc sĩ</td>
            <td>30</td>
            <td class="actions">
                <button type="button" class="btn btn-info">✏️</button>
                <button type="button" class="btn btn-info"> 🗑️</button>

            </td>
        </tr>
        <tr>
            <td>BC003</td>
            <td>Tiến sĩ</td>
            <td>30</td>
            <td class="actions">
                <button type="button" class="btn btn-info">✏️</button>
                <button type="button" class="btn btn-info"> 🗑️</button>

            </td>
        </tr>
        <tr>
            <td>BC004</td>
            <td>Phó Giáo Sư</td>
            <td>30</td>
            <td class="actions">
                <button type="button" class="btn btn-info">✏️</button>
                <button type="button" class="btn btn-info"> 🗑️</button>

            </td>
        </tr>
        <tr>
            <td>BC005</td>
            <td>Giáo Sư</td>
            <td>30</td>
            <td class="actions">
                <button type="button" class="btn btn-info">✏️</button>
                <button type="button" class="btn btn-info"> 🗑️</button>

            </td>
        </tr>
    </tbody>
</table>
{% endblock %}