{% extends 'base.html' %}
{% block content %}
<h2 class="mt-3">Danh sách lớp học</h2>
<a href="{{ url_for('class_routes.classes_add') }}" class="btn btn-primary mb-3">Thêm lớp học</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã lớp</th>
            <th>Học phần</th>
            <th>Năm học</th>
            <th>Số tiết</th>
            <th>Số sinh viên</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td>{{ class[1] }}</td>
            <td>{{ class[2] }}</td>
            <td>{{ class[3] }}</td>
            <td>{{ class[4] }}</td>
            <td>{{ class[5] }}</td>
            <td>
                <a href="{{ url_for('class_routes.classes_edit', class_id=class[0]) }}" class="btn btn-warning btn-sm">Sửa</a>
                <a href="{{ url_for('class_routes.classes_delete', class_id=class[0]) }}" class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}