{% extends 'base.html' %}
{% block content %}
<h2 class="mt-3">Danh sách khoa</h2>
<a href="{{ url_for('faculty_routes.faculties_add') }}" class="btn btn-primary mb-3">Thêm khoa</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã khoa</th>
            <th>Tên</th>
            <th>Nhiệm vụ</th>
            <th>Số giáo viên</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {% for faculty in faculties %}
        <tr>
            <td>{{ faculty[1] }}</td>
            <td>{{ faculty[2] }}</td>
            <td>{{ faculty[3] }}</td>
            <td>{{ faculty[4] }}</td>
            <td>
                <a href="{{ url_for('faculty_routes.faculties_edit', faculty_id=faculty[0]) }}" class="btn btn-warning btn-sm">Sửa</a>
                <a href="{{ url_for('faculty_routes.faculties_delete', faculty_id=faculty[0]) }}" class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}