{% extends 'base.html' %}
{% block content %}
<h2 class="mt-3">Thông tin cá nhân</h2>
<table class="table table-striped">
    <tr>
        <th>Mã số</th>
        <td>{{ teacher[1] }}</td>
    </tr>
    <tr>
        <th>Họ tên</th>
        <td>{{ teacher[2] }}</td>
    </tr>
    <tr>
        <th>Ngày sinh</th>
        <td>{{ teacher[3] }}</td>
    </tr>
    <tr>
        <th>Điện thoại</th>
        <td>{{ teacher[4] }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ teacher[5] }}</td>
    </tr>
    <tr>
        <th>Khoa</th>
        <td>{{ teacher[6] }}</td>
    </tr>
    <tr>
        <th>Bằng cấp</th>
        <td>{{ teacher[7] }}</td>
    </tr>
</table>
{% endblock %}